.container {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

.app {
  color: var(--Very-Dark-Blue);
}
.countries {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 73px;
}
.main {
  background-color: var(--Very-Light-Gray);
  min-height: 100vh;
}
.error {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
}
