.container {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

.app {
  color: var(--Very-Dark-Blue);
}
.app.dark {
  color: white;
}

.countries {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 73px;
}
.main {
  background-color: var(--Very-Light-Gray);
  min-height: 100vh;
}

.dark .main {
  background-color: var(--Blackish-dark-bg-container);
}

.error {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
}
.loading {
  text-align: center;
}

@media only screen and (max-width: 670px) {
  .countries {
    justify-content: center;
  }
}
